<nav class="navbar fixed-top navbar-expand-sm bg-body-tertiary" style="margin-top: 56px;">
  <div class="container-fluid">
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item mx-2 {% if robot == 'DCR1' %}active fw-bold{% endif %}">
          <a class="nav-link" href="/robots/dcr1">DCR1</a>
        </li>
        <li class="nav-item mx-2 {% if robot == 'DCR2' %}active fw-bold{% endif %}">
          <a class="nav-link" href="/robots/dcr2">DCR2</a>
        </li>
        <li class="nav-item mx-2 {% if robot == 'Robot1' %}active fw-bold{% endif %}">
          <a class="nav-link" href="/robots/robot1">Robot1</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- <nav class="navbar fixed-top navbar-expand-lg mt-5 bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item mx-2 {% if robot == 'DCR1' %}active fw-bold{% endif %}">
          <a class="nav-link" href="/robots/dcr1">DCR1</a>
        </li>
        <li class="nav-item mx-2 {% if robot == 'DCR2' %}active fw-bold{% endif %}">
          <a class="nav-link" href="/robots/dcr2">DCR2</a>
        </li>
        <li class="nav-item mx-2 {% if robot == 'Robot1' %}active fw-bold{% endif %}">
          <a class="nav-link" href="/robots/robot1">Robot1</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->