{% include 'head.html' %}
<body>
    {% include 'nav_main.html' %}

    <div style="padding-top: 30px;">
      <p class="container-sm mt-5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nunc congue nisi vitae suscipit tellus. Mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare. Sed cras ornare arcu dui vivamus arcu felis. Vitae purus faucibus ornare suspendisse sed nisi lacus sed viverra. Fermentum iaculis eu non diam phasellus. Velit scelerisque in dictum non. Purus non enim praesent elementum facilisis leo vel. Dolor morbi non arcu risus. Interdum varius sit amet mattis vulputate enim nulla aliquet.
      </p>
  
      <p class="container-sm mt-5">
        Sem et tortor consequat id porta nibh venenatis cras. Vestibulum lectus mauris ultrices eros in cursus. Feugiat in ante metus dictum at tempor. Sed enim ut sem viverra aliquet eget sit amet. Mattis pellentesque id nibh tortor id aliquet lectus. Orci eu lobortis elementum nibh tellus molestie nunc. Sagittis aliquam malesuada bibendum arcu vitae elementum curabitur. Risus at ultrices mi tempus. Bibendum neque egestas congue quisque. Magnis dis parturient montes nascetur ridiculus mus. Ac auctor augue mauris augue neque gravida in fermentum et. Donec adipiscing tristique risus nec feugiat.
      </p>
    </div>
</body>